# =========================
# Ambiente Virtual
# =========================
venv/
backend/venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Banco de Dados
# =========================
*.db
backend/livros.db

# =========================
# Variáveis de Ambiente
# =========================
.env
backend/.env

# =========================
# Node.js
# =========================
node_modules/
frontend/node_modules/

# =========================
# Build
# =========================
dist/
frontend/dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log